<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cf.khanhsb.icare_v2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICare_v2">
        <activity android:name=".CompleteUserInfoActivity"
            android:exported="true"/>
        <activity android:name=".WorkoutHistoryActivity"
            android:exported="true"/>
        <activity android:name=".WorkoutActivity"
            android:exported="true"/>

        <receiver android:name=".Model.AlertReceiver" />

        <activity android:name=".SleepTimeActivity"
            android:exported="true"/>
        <activity android:name=".UsageStatisticActivity"
            android:exported="true"/>
        <activity android:name=".SplashScreenActivity2"
            android:exported="true"/>
        <activity android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:exported="true"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".List_Data_Activity"
            android:exported="true"/>
        <activity android:name=".ResetPWActivity"
            android:exported="true"/>
        <activity android:name=".StepCountActivity"
            android:exported="true"/>
        <activity android:name=".SigninActivity"
            android:exported="true"/>
        <activity android:name=".SignupActivity"
            android:exported="true"/>
        <activity android:name=".OnBoardActivity"
            android:exported="true"/>
        <activity android:name=".WaterActivity"
            android:exported="true"/>
        <activity android:name=".MainActivity"
            android:exported="true"/>
    </application>

</manifest>